@model EditViewModel

<form>
    <div>
        <label asp-for="Url" class="sr-only">URL: </label>
        <input asp-for="Url" type="text" />
    </div>

    <div>
        <label asp-for="Id" class="sr-only">Short URL: </label>
        <input asp-for="Id" type="text" maxlength="12"/>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
</form>