<form>
    <div>
        <label class="sr-only">URL: </label>
        <input type="text" />
    </div>

    <div>
        <label class="sr-only">Short URL: </label>
        <input type="text" maxlength="12"/>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Save" />
    </div>
</form>